<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
<title>Connect Clover</title>
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="alert alert-success" role="alert">
  {{msg.msg}}
</div>
<div>
<h2>Merchant Details</h2>
<pre>Name :<span>{{msg.mdata.name}} </span>
Phone :<span>{{msg.mdata.phoneNumber}}</span>
M_ID :<span>{{msg.mdata.id}}</span>
</pre>
<h2>Items</h2>
{%for i in msg.mdata.items.elements%}
<pre><span>Item Name &nbsp {{i.name}}</span>
<span>Item Price &nbsp {{i.price}}</span>
</pre>
{% endfor %}
{%for i in items%}
<pre><span>Item Name &nbsp {{i.name}}</span>
<span>Item Price &nbsp {{i.price}}</span>
</pre>
{% endfor %}
<a href="https://stalwart-coast-235609.appspot.com" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-refresh"></span> Refresh
</a>
<div>

</body>
</html>